@charset "UTF-8";

/*
    Paletas de cores
    Verde: #49a09d
    Lilas: #5f2c82
*/

:root {
    --cor01:#49a09d;
    --cor02: #5f2c82;
}

*{

}
html, body {
    background-color: var(--cor02) ;
}

section {
    width: 250px;
    height: 515px;
    position: absolute;
    top: 50%;
    left: 50%;
        
}

#imagem {
    background-image: url(../imagens/pattern.jpg);
    background-size: cover;
    height: 200px;
}